OPENAI_API_KEY=..............
OPENAI_BASE_URL=https://chat.int.bayer.com/api/v2
CHAT_MODEL=claude-opus-4.6-azure
APP_URL=http://localhost:3000
HTTPS_PROXY=http://10.185.190.10:8080
NO_PROXY=localhost,127.0.0.1
